#body{text-align:center;
height:3000px;}
#shang{
   float:right;
   margin-top:10px;
   padding:5px 2px;
   background:white;
   height:30px;
   width:250px;}
#a{text-decoration:none;
    float:left;
    padding-top:4px; 
    padding-right:10px;
    font-family:黑体;
    font-size:16px;}
#b{padding:0px 5px;}
#shang a:link,#shang  a:visited{
   background-color:white;
   color:#2ca999;}
#shang a:hover{
   background-color:white;
   color:#e75659;}

#container{width:960px;
    height:1000px;
   margin:40px auto;
   background-color:aliceblue;}
#top2{height:60px;
   background-color:white;
   text-align:center;
   position:absolute;
   margin-left: 22px;}
#top2 ul {
   list-style-type:none;
   font-size:22px;
   font-weight:bolder;
   margin:0;
   padding:0;
   width:960px;
   border-left:thin  solid  #f2fff8;
   border-right:thin  solid  #f2fff8;}
#top2 li {
   float:left;}
#top2 li a {
   display:block;
   padding-top:10px;
   margin:8px;
   text-decoration:none;
   color:black;
   border:1px solid #fff ;
   width:132px; 
   font-family:华文新魏;}
#top2  li a:link #top2  li a:visited{
   background-color:white;
   color:black;}
#top2  li a:hover{
   background-color:white;
   color:#4d5697;}
.p{padding-left: 10px;}
#navileft{
	float:left;
	width:180px; 
	height:240px;}
#navileft a{width:180px;
    height:50px;
	text-decoration: none;
    display:block;;
	font-size:18px;
	color:#2e4e7e;
	font-family: 宋体;
	font-weight:bold;
    text-align: center;
    padding-top: 28px;}
#navileft a:hover{
   background-color:aliceblue;
   font-style:bolder;}
#navileft  ul{list-style-type:none;
   margin-top:70px;
   padding: 0;}
#navileft  ul li{
	text-align: center;
	margin: 0;
   padding: 0;}	

#n{text-align: center;
  width:250px;
  height: 30px;
  border: 1px solid #efefef;
  background: #efefef;}
#m{text-align: center;
  width:250px;
  height: 80px;
background-color:aliceblue;}
#m a:link,#m a:visited{
   color:red;}
#m a:hover{
   color:#e75659;}




