#body{text-align:center;}

#content{
   background-color:white;
   border:5px solid #057380;
   border-radius:10px;
   position:absolute;
   margin-top:170px;
   margin-left:750px;
   height:300px;
   width:350px;
   text-align:center;
   padding-left:24px;}
#m{padding:10px;
 font-family:黑体;
font-size:22px;}
#m a:link,#m a:visited{
   color:red;}
#m a:hover{
   color:#e75659;}





















