<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>智慧旅游-后台管理</title>
		<link href="wd.css" rel="stylesheet" type="text/css" />
	</head>
    <script>
     var currentNode = "content2"; var changeContent = function(obj){ 
      document.getElementById(currentNode).style.color="black"; document.getElementById("about"+currentNode).style.display = "none"; 
 currentNode = obj.getAttribute("id"); 
 document.getElementById(currentNode).style.color="red"; document.getElementById("about"+currentNode).style.display = "block"; } </script>
	<body  style="background:url(images/bg.jpg) center 0 no-repeat ;width:100%;height:100%;">
    <a name="top"></a>
       <table width="100%">
          <tr>
             <td align="right" id="shang" >
                 <a href="登录.html" id="a"><b>登录</b>&nbsp| </a>
                 <a href="zc.html" id="a"><b>注册</b></a>            
             </td>
          </tr>
       </table>

<div id="container">
    <div id="top2">  
       <ul>
          <li><a href="网站首页.html">网站首页</a></li>
          <li><a href="10-25.html">10-25岁</a></li>
          <li><a href="25-40.html">25-40岁</a></li>
          <li><a href="hc.html">火车票</a></li>
          <li><a href="jd.html">酒店预定</a></li>
          <li><a href="旅行攻略.html">旅行攻略</a></li>
       </ul>
    </div>
    	<div id="navileft" style="background: url(images/left1.jpg) ;margin-top:60px;">
    		<ul>
    		    <li id="content2" onmouseover="changeContent(this)"><a href="#3">订单管理</a></li>
    	    </ul>
    	</div>
    	<div id="naviright"style="background-color:aliceblue ;margin-top:60px;">
            <img src="images/admin.jpg"/>
            <table>
            <tr >
              <td id="n">商品信息</td>
              <td id="n">交易状态</td>
              <td id="n">操作</td>
            </tr>
            </table>
         <div id="aboutcontent2">
       
        <table>
            <tr >
              <td id="m">上海徐汇云睿酒店</td>
              <td id="m">预定成功</td>
              <td id="m"><a href="#">审批退款</a></td>
            </tr>
            <tr >
              <td id="m">上海延安酒店</td>
               <td id="m">预定成功</td>
              <td id="m"><a href="#">审批退款</a></td>
            </tr>
             <tr >
              <td id="m">杭州蝶来望湖宾馆</td>
               <td id="m">预定成功</td>
              <td id="m"><a href="#">审批退款</a></td>
            </tr>
            <tr >
              <td id="m">浙江梅地亚宾馆</td>
              <td id="m">预定成功</td>
              <td id="m"><a href="#">审批退款</a></td>
            </tr>
        </table>
        </div>   

         
 
</div>	
</body>
</html>
